body {
    text-align: center;
  }
  
  span {
    display: inline-block;
    padding: 10px 20px;
  }
  
  .icon-green {
    color: green;
  }
  
  .icon-red {
    color: red;
  }
  
  .icon-large {
    font-size: 25px;
  }